<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <img class="bi me-2" width="auto" height="45" src="assets/isnomniac-logo.png" alt="" srcset="">
      <span class="fs-4">Insomniac Developers</span>
    </a>
  </header>
</div>
<section>
  <div class="text-center">
    <button [disabled]="runNoOfTime > 0" type="button" (click)="roll()" class="btn btn-primary btn-lg">
      Roll
    </button>
  </div>
  <div class="text-center">
    <img [src]="'assets/dice-' + diceFace + '.png'" class="img-thumbnail dice" alt="..." />
  </div>
  <div>
    <div class="text-center">
      <h3>Result</h3>
    </div>
    <div>
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-outline-success btn-floating">
            <i class="fas fa-star"></i>
          </button>
          <h5>Get 2x(min 1000 token)</h5>
          Odd No:
          Even No:
          <div *ngIf="finalResult%2===0">Even</div>
          <div *ngIf="finalResult%2!==0">Odd</div>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-success btn-floating">
            <i class="fas fa-star"></i>
          </button>
          <h5>Get 2x(min 1000 token)</h5>
          In between 1 2 3
          In between 4 5 6
          <div *ngIf="finalResult=== 1 || finalResult === 2 || finalResult === 3">In between 123</div>
          <div *ngIf="finalResult === 4 || finalResult === 5 ||finalResult === 6">In between 123</div>
        </div>

        <div class="col">
          <button type="button" class="btn btn-outline-success btn-floating">
            <i class="fas fa-star"></i>
          </button>
          <h5>Get 4x(min 5000 token)</h5>
          Exact No: {{finalResult}}
        </div>
      </div>
    </div>
  </div>
</section>