<nav class="nav nav-pills nav-justified">
  <a class="nav-link active" aria-current="page" href="#">I DEV</a>
</nav>
<section>
  <div class="text-center">
    <button [disabled]="runNoOfTime > 0" type="button" (click)="roll()" class="btn btn-primary btn-lg">
      Roll
    </button>
  </div>
  <div class="text-center">
    <img [src]="'assets/dice-' + diceFace + '.png'" class="img-thumbnail dice" alt="..." />
  </div>
  <div>
    <div class="text-center">
      <h3>Result</h3>
    </div>
    <div>
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-outline-success btn-floating">
            <i class="fas fa-star"></i>
          </button>
          <h5>Get 2x(min 1000 token)</h5>
          Odd No:
          Even No:
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-success btn-floating">
            <i class="fas fa-star"></i>
          </button>
          <h5>Get 2x(min 1000 token)</h5>
          In between 1 2 3
          In between 4 5 6
        </div>

        <div class="col">
          <button type="button" class="btn btn-outline-success btn-floating">
            <i class="fas fa-star"></i>
          </button>
          <h5>Get 4x(min 5000 token)</h5>
          Exact No:
        </div>
      </div>
    </div>
  </div>
</section>